.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #2A0E71; /* Light background color */
  color: #ffffff; /* Dark text color for contrast */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%; /* Stretch to full width */
  top: 0;
  z-index: 100;
  text-align: center; /* Alinha o texto ao centro */
}
