<div>
  <form [formGroup]="membroForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="memberId" class="titulo">Alterar Membro</mat-card-title>
        <mat-card-title *ngIf="!memberId" class="titulo">Cadastrar Membro</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="membro-details">

          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Situação</mat-label>
            <mat-select formControlName="situacao">
              <mat-option *ngFor="let situacao of situacoes" [value]="situacao.id">{{ situacao.value }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" type="number">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select (selectionChange)="onSexoChange($event.value)" formControlName="sexo">
              <mat-option *ngFor="let sexo of sexoList" [value]="sexo.id">
                {{ sexo.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="membro-details">
          <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput formControlName="data_nascimento" type="date">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Estado Civil</mat-label>
            <mat-select formControlName="estado_civil">
              <mat-option *ngFor="let estado_civil of estadoCivil" [value]="estado_civil.id">
                {{ estado_civil.value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data de Casamento</mat-label>
            <input matInput formControlName="data_casamento" type="date">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Conjuge</mat-label>
            <mat-select formControlName="conjuge">
              <mat-option *ngFor="let conjuge of conjugesFiltrados" [value]="conjuge.id">
                {{ conjuge.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="endereco">
          <mat-form-field>
            <mat-label>Logradouro</mat-label>
            <input matInput formControlName="endereco_rua" type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="endereco_bairro" type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="endereco_cidade" type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="endereco_estado">
              <mat-option *ngFor="let estado of estadosList" [value]="estado.sigla">
                {{ estado.sigla }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>País</mat-label>
            <input matInput formControlName="endereco_pais" type="text">
          </mat-form-field>
        </div>

        <div>
          <div>
            <mat-form-field>
              <mat-label>Nome do Filho</mat-label>
              <input matInput formControlName="filho_nome" type="text">

            </mat-form-field>
            <mat-form-field>
              <mat-label>Telefone do Filho</mat-label>
              <input matInput formControlName="filho_telefone" type="text">

            </mat-form-field>
            <mat-form-field>
              <mat-label>Email do Filho</mat-label>
              <input matInput formControlName="filho_email" type="text">

            </mat-form-field>
            <button [disabled]="!filho_nome.dirty" mat-icon-button color="warn" (click)="adicionarFilho()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <div>
            <mat-form-field>
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="departamento" (selectionChange)="onDepartamentoChange($event.value)">
                <mat-option *ngFor="let departamento of listaDepartamentos"
                            [value]="departamento.id">
                  {{ departamento.nome }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Cargo</mat-label>
              <mat-select formControlName="cargo" multiple>
                <mat-option *ngFor="let c of cargosFiltrados"
                            [value]="c.titulo">
                  {{ c.titulo }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button [disabled]="!departamento.dirty"
                    mat-icon-button
                    color="warn"
                    (click)="adicionarDepartamento(departamento.value)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div>

          </div>
        </div>
        <div>
          <div class="tabela-auxiliar" style *ngIf="filhosList.length">
            <h3 class="sub-titulo">Fihos Incluídos</h3>
            <table mat-table [dataSource]="filhosList" class="tabela-filhos">
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let filho"> {{filho.nome}} </td>
              </ng-container>
              <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let filho"> {{filho.telefone}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let filho"> {{filho.email}} </td>
              </ng-container>
              <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef> Excluir </th>
                <td mat-cell *matCellDef="let filho">
                  <button mat-icon-button color="warn" (click)="removerFilho(filho)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="colunasExibicaoFilhos"></tr>
              <tr mat-row *matRowDef="let row; columns: colunasExibicaoFilhos;"></tr>
            </table>
          </div>
          <div class="tabela-auxiliar" *ngIf="departamentoItemList.length">
            <h3 class="sub-titulo">Departamentos a qual pertence</h3>
            <table mat-table [dataSource]="departamentoItemList" class="mat-elevation-z1">
              <ng-container class="tabela-coluna-filhos" matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let departamento"> {{departamento.nome}} </td>
              </ng-container>
              <ng-container matColumnDef="cargos">
                <th mat-header-cell *matHeaderCellDef> Cargos </th>
                <td mat-cell *matCellDef="let departamento">
                  <div *ngIf="departamento.cargos?.length">
                    <ul>
                      <li *ngFor="let cargo of departamento.cargos">{{cargo.nome}}</li>
                    </ul>
                  </div>
                  <div *ngIf="!departamento.cargos?.length">
                    <em>Sem cargos</em>
                  </div>
                </td>
                <!-- <td mat-cell *matCellDef="let departamento" [attr.colspan]="colunasExibicaoDepartamentos.length">
                  <div *ngIf="departamento.cargos?.length">
                    <strong>Cargos:</strong>
                    <ul>
                      <li *ngFor="let cargo of departamento.cargos">{{cargo.nome}}</li>
                    </ul>
                  </div>
                  <div *ngIf="!departamento.cargos?.length">
                    <em>Sem cargos</em>
                  </div>
                </td> -->
              </ng-container>
              <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef> Excluir </th>
                <td mat-cell *matCellDef="let departamento">
                  <button mat-icon-button color="warn" (click)="removerDepartamento(departamento)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="colunasExibicaoDepartamentos"></tr>
              <tr mat-row *matRowDef="let row; columns: colunasExibicaoDepartamentos;"></tr>
            </table>
          </div>
        </div>
        <div class="actions">
          <button *ngIf="!memberId" class="button-primary" mat-raised-button type="submit" (click)="createMembro()">Criar Membro</button>
          <button *ngIf="memberId" class="button-primary" mat-raised-button type="submit" (click)="editarMembro()">Alterar Membro</button>
          <button class="button-secondary" mat-raised-button type="button" (click)="onCancel()">Cancelar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
