.button-home {
    background-color: white;
    color: #2A0E71;
}

.button-menu {
  background-color: #2A0E71;
  color: #fff;
}

.contain {
  padding: 20px;
  background-color: #ffffff; /* Light background color */
  color: #2A0E71; /* Dark text color for contrast */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%; /* Stretch to full width */
  top: 0;
  z-index: 100;
  align-items: center;
}
