
<mat-toolbar class="contain">
  <div style="display: flex; justify-content: space-around;">
    <button routerLink="home" mat-fab extended class="button-home">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button class="button-menu" routerLink="/membros" mat-fab extended>
      <mat-icon>people</mat-icon>
      Membros
    </button>
    <button class="button-menu" routerLink="/departamento" mat-fab extended>
      <mat-icon>view_comfy_alt</mat-icon>
      Departamento
    </button>
  </div>
</mat-toolbar>
