.panel {
  height: 50px;

  .panel-btn {
    display: flex;
    align-items: center;
    padding: 4px;
    margin-bottom: 16px;
    border: 1px solid #adadad;
    border-radius: 8px;
    cursor: pointer;
    height: 80px;

    img {
      width: 100%;
      max-width: 50px;
    }

    .title {
      margin-bottom: 0 !important;
    }

    &:hover {
      background-color: #adadad;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  padding: 20px;
}
