.panel {
  height: 420px;

  .panel-btn {
    display: flex;
    align-items: center;
    padding: 4px;
    margin-bottom: 16px;
    cursor: pointer;
    height: 80px;

    img {
      width: 100%;
      max-width: 50px;
    }

    .title {
      margin-bottom: 0 !important;
    }

    &:hover {
      background-color: #adadad;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.contain {
  padding: 20px;
}

.custom-title {
  font-size: 24px;
  font-weight: bold;
  color: #2A0E71;
}

.p-conteudo {
  display: grid;
  place-items: center;
  width: 50%;
  margin: 0 auto;
}
